language: java
jdk:
- oraclejdk8
sudo: false
before_install:
- cp ./settings.xml ~/.m2/
script:
- mvn -B clean verify
after_success:
- '[[ $TRAVIS_BRANCH == "master" ]] && [[ $TRAVIS_JDK_VERSION == "openjdk7" ]] &&
  { mvn -B clean deploy -DskipTests; };'
after_script:
- mvn clean -DsourceEncoding=UTF-8 cobertura:cobertura coveralls:report
notifications:
  email: false
  irc:
    channels:
    - chat.freenode.net#esbtools
    on_success: always
env:
  global:
  - secure: MwBcSJF3L3xhUia/HIoCMJyJNVgNUUNUJ/EeKLVkkT9ySYN7VuTJxV2TZSSPyDsOtlvG/YO7Ph5JMRIg0fF8v/X621FvkyFzEcCYlfobPFiRn9KNqCRtRjZ4QRWKdCb+PYTllOFzVbZZvi6xascIfbSHtXKN46yAADJqQFSrj92JqarX3kpYatfLu/pBSt5OmeHZ5XieqTb/k9e6hhhcWkYybMlJNijCGA76dLIm1jG9vVZ9h/jqp31NAFMSoU7l0BhpPqAHNn8MGqpK1ZgVp4y2omR6GOkQOlTc+rpoVXJy1FEkoNlHeZHr8UPrp94qJziXUxAsOZKxzOcrtCYJ3qdUP0+1SzQ+iYMlj7F2AZrWfgbncDgJG0fQbJEMTHxGUhKbODuiLxkvnDFSNSwrKm7/dgfs8R0pYHj0QQLhwWVYkmNMOR3btWj7GVZ35cQRla7SeGvoVvRo6FUVJfIhUlHMoiGrnxhbZmwxhaXGpUJS1tCrmyKkCgbrLe89wHpcFB8atp7WgnUnOreTDRQStmJMQK4HyqjM3LGWzkxWtNHMaVtYYSKAuetpXtzwXBBI/W1gM6xnhTRFYhPvJWMk1z5yI2Kec0SW6OchSva8vvLNJOd1CGdNvwxudUZb/Lim1brvf1RKL/ZVhuwpcjy0tAqWL/600h+Jil7g74bszE4=
  - secure: WP574ZvLKEzeTPN6zhqR49NBLrOMD0n/SWf/oxBdGQT39RYcN/NlotZM/JjIhG5QTslGm3cCDfdIBAedZLh8kmrCb/7r1EnPGWXX4YhPZeKQnSUK3pEwM3BMI6W+Dev5b3pHVmp8C0Z4rnecAtmg5o9oK+8EP4jlELkg6wXBo4g+/4eiOexe0oiOWezHgTrEhy28n1iUB/CIpo4m9L/T9jhB7U53QrygMWmr73GUeSqH9s/+jmtU2uavEk4wi444XDxIxcMFOaQNbEkQEs7oDOanZuDzNElRxtw+KSNoOtRCTpOFHRoqljX4JRDiJ7mh6w1EJAYFrw8QS6maJpLFOL9hoG2LwgUVHUUummi6pWcfeqAkVDv+jEbdkdfkIPmIYyfODnS4Cjtg3dVSuFQW/kwKjsyK95zTxNFiv6eN7JumCBxa0e/aCgPiwiuo1VJ1x02ynaB623VX/GcWAZoPa1oWEh1gz6yjUACMfTbevGdiUBsZ9Fuaov2cgdUV+cp9XC4Cxee5XOYrTYzIDuMgGllPlTm3TqmjnkqDrkoY3t+KJ5oBpPVdbABsmCvvzfQ4Q0V67q2aeVR00OI7lrSTimuQiACIoRWBohz6lfAn7B4Ce9OYStq5wdQsKy27S4X6YjWXMLi8viDd87wL4txceFpCVPSAz4mtF0TTZ/a8GIU=
